body {
background:#ffa103;
text-align:center;
}
h1,h2,h3,h4,h5 {
color:#FFF;
}
table {
width:45%;
text-align:center;
border:1px inset black;
colspan:2;
}
tr {
border:2px inset black;
}
th {
border:2px inset black;
}
td {
border:2px inset black;
}
td.view_item {
width:20%;
}
td.empty_show {
background-color: ;
empty-cells:show;
}
a {
text-decoration:none;
}
A:HOVER {
text-decoration:none;
color:red;
}
div.statusBar {
    text-align:center;
    margin-left:25%;
    width:50%;
    height:80px;
    background:#000000;
}
.link_button {
font-size:13px;
color:#ff8080;
text-align:center;
text-decoration:none;
border:2px inset #009500;
/*background-color:;*/
padding:10px;
width:200px;
display:block;
}
.link_button_right {
font-size:13px;
color:#ff8080;
text-align:center;
text-decoration:none;
border:2px inset #009500;
/*background-color:;*/
padding:10px;
width:200px;
display:block;
float:right;
}
.changeBgcBtn {
width:50%;
}